[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
request = "*"
flask = "*"
line-bot-sdk = "*"
beautifulsoup4 = "*"
bs4 = "*"
beautifulsoup = "*"

[requires]
python_version = "3.7"
